In [1]:
import sqlite3
import pandas as pd

In [17]:
conn = sqlite3.connect('namesWebapp/names_database.db', check_same_thread=False)
cur = conn.cursor()

In [32]:
name = "jon"
query = f"""select name, sum(count), year from ssa_names where name like '{name}' group by year;"""

In [33]:
df = pd.read_sql(query, con=conn)

In [34]:
df.to_dict()

{'name': {0: 'Jon',
  1: 'Jon',
  2: 'Jon',
  3: 'Jon',
  4: 'Jon',
  5: 'Jon',
  6: 'Jon',
  7: 'Jon',
  8: 'Jon',
  9: 'Jon',
  10: 'Jon',
  11: 'Jon',
  12: 'Jon',
  13: 'Jon',
  14: 'Jon',
  15: 'Jon',
  16: 'Jon',
  17: 'Jon',
  18: 'Jon',
  19: 'Jon',
  20: 'Jon',
  21: 'Jon',
  22: 'Jon',
  23: 'Jon',
  24: 'Jon',
  25: 'Jon',
  26: 'Jon',
  27: 'Jon',
  28: 'Jon',
  29: 'Jon',
  30: 'Jon',
  31: 'Jon',
  32: 'Jon',
  33: 'Jon',
  34: 'Jon',
  35: 'Jon',
  36: 'Jon',
  37: 'Jon',
  38: 'Jon',
  39: 'Jon',
  40: 'Jon',
  41: 'Jon',
  42: 'Jon',
  43: 'Jon',
  44: 'Jon',
  45: 'Jon',
  46: 'Jon',
  47: 'Jon',
  48: 'Jon',
  49: 'Jon',
  50: 'Jon',
  51: 'Jon',
  52: 'Jon',
  53: 'Jon',
  54: 'Jon',
  55: 'Jon',
  56: 'Jon',
  57: 'Jon',
  58: 'Jon',
  59: 'Jon',
  60: 'Jon',
  61: 'Jon',
  62: 'Jon',
  63: 'Jon',
  64: 'Jon',
  65: 'Jon',
  66: 'Jon',
  67: 'Jon',
  68: 'Jon',
  69: 'Jon',
  70: 'Jon',
  71: 'Jon',
  72: 'Jon',
  73: 'Jon',
  74: 'Jon',
  75: 'Jon',
  76: 'Jon',
  77: 'Jon',
  78: 'Jon',
  79: 'Jon',
  80: 'Jon',
  81: 'Jon',
  82: 'Jon',
  83: 'Jon',
  84: 'Jon',
  85: 'Jon',
  86: 'Jon',
  87: 'Jon',
  88: 'Jon',
  89: 'Jon',
  90: 'Jon',
  91: 'Jon',
  92: 'Jon',
  93: 'Jon',
  94: 'Jon',
  95: 'Jon',
  96: 'Jon',
  97: 'Jon',
  98: 'Jon',
  99: 'Jon',
  100: 'Jon',
  101: 'Jon',
  102: 'Jon',
  103: 'Jon',
  104: 'Jon',
  105: 'Jon',
  106: 'Jon',
  107: 'Jon',
  108: 'Jon',
  109: 'Jon',
  110: 'Jon',
  111: 'Jon',
  112: 'Jon',
  113: 'Jon'},
 'sum(count)': {0: 5,
  1: 5,
  2: 6,
  3: 9,
  4: 8,
  5: 11,
  6: 17,
  7: 31,
  8: 20,
  9: 25,
  10: 30,
  11: 34,
  12: 50,
  13: 41,
  14: 58,
  15: 46,
  16: 61,
  17: 61,
  18: 61,
  19: 65,
  20: 67,
  21: 53,
  22: 93,
  23: 84,
  24: 164,
  25: 327,
  26: 476,
  27: 546,
  28: 824,
  29: 1037,
  30: 1420,
  31: 1466,
  32: 1559,
  33: 1569,
  34: 1791,
  35: 1774,
  36: 1846,
  37: 2063,
  38: 2198,
  39: 2334,
  40: 2239,
  41: 1899,
  42: 1963,
  43: 1971,
  44: 2171,
  45: 2731,
  46: 3183,
  47: 3075,
  48: 3098,
  49: 3479,
  50: 3475,
  51: 4000,
  52: 4429,
  53: 4634,
  54: 4808,
  55: 4779,
  56: 4938,
  57: 4633,
  58: 4274,
  59: 4194,
  60: 4237,
  61: 4247,
  62: 4396,
  63: 3734,
  64: 3245,
  65: 2819,
  66: 2771,
  67: 2539,
  68: 2347,
  69: 2304,
  70: 2435,
  71: 2317,
  72: 2190,
  73: 2078,
  74: 2038,
  75: 1844,
  76: 1868,
  77: 1820,
  78: 1522,
  79: 1525,
  80: 1459,
  81: 1515,
  82: 1433,
  83: 1306,
  84: 1201,
  85: 1131,
  86: 1032,
  87: 1019,
  88: 838,
  89: 840,
  90: 833,
  91: 770,
  92: 764,
  93: 736,
  94: 723,
  95: 692,
  96: 635,
  97: 619,
  98: 595,
  99: 538,
  100: 512,
  101: 450,
  102: 439,
  103: 346,
  104: 388,
  105: 386,
  106: 376,
  107: 330,
  108: 356,
  109: 320,
  110: 311,
  111: 315,
  112: 285,
  113: 279},
 'year': {0: 1898,
  1: 1909,
  2: 1910,
  3: 1911,
  4: 1912,
  5: 1913,
  6: 1914,
  7: 1915,
  8: 1916,
  9: 1917,
  10: 1918,
  11: 1919,
  12: 1920,
  13: 1921,
  14: 1922,
  15: 1923,
  16: 1924,
  17: 1925,
  18: 1926,
  19: 1927,
  20: 1928,
  21: 1929,
  22: 1930,
  23: 1931,
  24: 1932,
  25: 1933,
  26: 1934,
  27: 1935,
  28: 1936,
  29: 1937,
  30: 1938,
  31: 1939,
  32: 1940,
  33: 1941,
  34: 1942,
  35: 1943,
  36: 1944,
  37: 1945,
  38: 1946,
  39: 1947,
  40: 1948,
  41: 1949,
  42: 1950,
  43: 1951,
  44: 1952,
  45: 1953,
  46: 1954,
  47: 1955,
  48: 1956,
  49: 1957,
  50: 1958,
  51: 1959,
  52: 1960,
  53: 1961,
  54: 1962,
  55: 1963,
  56: 1964,
  57: 1965,
  58: 1966,
  59: 1967,
  60: 1968,
  61: 1969,
  62: 1970,
  63: 1971,
  64: 1972,
  65: 1973,
  66: 1974,
  67: 1975,
  68: 1976,
  69: 1977,
  70: 1978,
  71: 1979,
  72: 1980,
  73: 1981,
  74: 1982,
  75: 1983,
  76: 1984,
  77: 1985,
  78: 1986,
  79: 1987,
  80: 1988,
  81: 1989,
  82: 1990,
  83: 1991,
  84: 1992,
  85: 1993,
  86: 1994,
  87: 1995,
  88: 1996,
  89: 1997,
  90: 1998,
  91: 1999,
  92: 2000,
  93: 2001,
  94: 2002,
  95: 2003,
  96: 2004,
  97: 2005,
  98: 2006,
  99: 2007,
  100: 2008,
  101: 2009,
  102: 2010,
  103: 2011,
  104: 2012,
  105: 2013,
  106: 2014,
  107: 2015,
  108: 2016,
  109: 2017,
  110: 2018,
  111: 2019,
  112: 2020,
  113: 2021}}

In [15]:
query

"select * from ssa_names where name like 'jon';"